<html>
<head>
  {% load staticfiles %}
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/pygment_trac.css' %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/ledstrip.css' %}" />
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{% static 'js/ledstrip.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/rAF.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ws2812.js' %}"></script>
  <script type="text/javascript">
    var strip = new Array();
    var animation = new Array(); // need to be global

    function executeQuery() {
      $.ajax({
        url: '/data/',
        success: function(data) {
            //console.log(data);
            //console.log(data['fields']['search_term']);
            for(var i=0; i<data['fields']['topics'].length; i++) {
              var topic = data['fields']['topics'][i]['fields'];
              //console.log(topic['topic']+" : "+topic['mood']['fields']['label']+" "+topic['mood']['fields']['color']);
              var hex = topic['mood']['fields']['color'];
              var rgb = [parseInt(hex.slice(1,3), 16), parseInt(hex.slice(3,5), 16), parseInt(hex.slice(5), 16)];
              //console.log("RGB: "+rgb);
              strip[i].clear();
              for (var j=0;j<6;j++) {
                  var idx = i*6+j;
                  strip[i].buffer[j] = rgb;
              }
              strip[i].send();
            }
            $(document).find("[name=search]").val(data['fields']['search_term']);
        },
        error: function() {
            console.log("There was an error retrieving data for moodcloud.");
        }
      });
    }

    $(document).ready(function(){
      $('.ledstrip').each(function(index, value) {
        strip[index] = LEDstrip(value, 6, "vertical");
      });
      $(".key_content").hide();
      $("#key").addClass("hidden");
      //toggle the componenet with class msg_body
      $('#key').click(function() {
        if ($('.key_content').is(':hidden')) {
            $('.key_content').show();
            $('#key').addClass("showing");
            $('#key').removeClass("hidden");
        } else {
            $('.key_content').hide();
            $('#key').removeClass("showing");
            $('#key').addClass("hidden");
        }
      });
      executeQuery();
      setInterval(executeQuery, 1);

    });
    </script>
    <title>MoodCloud</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>moodcloud</h1>
          <h4>Audio Visual Sentiment Art Installation</h4>
        </header>

        <div id="content">
<div class="LEDBox ui-widget ui-helper-reset">
            <div class="simulation ui-widget-content ui-helper-reset">
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
            </div>
          </div>

           <div>
            <div style="float:left;width:70%">
            <form class="search-form" action="http://whooly.cloudapp.net/Home/MoodCloudSearchResult" method="post">
              <span>
                <input id="search" name="search" type="text" value="">    
                <input type="submit" value="Search">
              </span>
            </form>
            </div>
            <div style="float:right;border: 1px solid #888;padding:5px;margin-top: 15px;">
                <p id="key">Color - Emotion Key</p>
                <div class="key_content">
                    <div><div class="circle" style="background-color: #00FF00;"></div>&nbsp<span style="color:#07B918;float:left;line-height:18px;margin-left:5px;vertical-align:middle">Joviality</span></div>
                    <div><div class="circle" style="background-color: #FF00FF"></div>&nbsp<span style="color:#953735;float:left;line-height:18px;margin-left:5px;vertical-align:middle">Fatigue</span></div>
                    <div><div class="circle" style="background-color: #FF0000"></div>&nbsp<span style="color:#E10000;float:left;line-height:18px;margin-left:5px;vertical-align:middle">Hostility</span></div>
                    <div><div class="circle" style="background-color: #0000FF"></div>&nbsp<span style="color:#21375E;float:left;line-height:18px;margin-left:5px;vertical-align:middle">Sadness</span></div>
                    <div><div class="circle" style="background-color: #00FFFF"></div>&nbsp<span style="color:#31859C;float:left;line-height:18px;margin-left:5px;vertical-align:middle">Serenity</span></div>
                    <div><div class="circle" style="background-color: #FFFF00"></div>&nbsp<span style="color:#FFB700;float:left;line-height:18px;margin-left:5px;vertical-align:middle">Fear</span></div>
                    <div><div class="circle" style="background-color: #FF8000"></div>&nbsp<span style="color:#E06B0A;float:left;line-height:18px;margin-left:5px;vertical-align:middle">Guilt</span></div>
                </div>
            </div>
          </div>
          
        </div>

        <footer>
          <a href="https://github.com/irjudson/moodcloud">MoodCloud</a> is maintained by <a href="http://www.wesense.co/">Melissa Quintanilha</a>, <a href="http://www.irjudson.org/">Ivan R. Judson</a>, Jaime Teevan, Shelly Farnham and Christopher Rampey.
        </footer>
      </div>
    </div>
  </body>
</html>