<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" media="screen" />
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

  <title>MoodCloud</title>
</head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>MoodCloud</h1>
          <h2>Audio Visual Sentiment Art Installation</h2>
        </header>

        <div id="content">

          <div class="Search">
            <form action="http://whooly.cloudapp.net/Home/MoodCloudSearchResult" method="post">
              <input id="search" name="search" type="text" value=""></input>    
              <input type="submit" value="Search"></input>
            </form>
          </div>

        <footer>
          <a href="https://github.com/irjudson/moodcloud">MoodCloud</a> is maintained by <a href="http://www.wesense.co/">Melissa Quintanilha</a>, <a href="http://www.irjudson.org/">Ivan R. Judson</a>, Jaime Teevan, and Shelly Farnham.
        </footer>
      </div>
    </div>
  </body>
  </html>