<html>
<head>
  {% load staticfiles %}
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/pygment_trac.css' %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/ledstrip.css' %}" />
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{% static 'js/ledstrip.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/rAF.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ws2812.js' %}"></script>
  <script type="text/javascript">
    var strip = new Array();
    var animation = new Array(); // need to be global

    function executeQuery() {
      $.ajax({
        url: '/data',
        success: function(data) {
            //console.log(data);
            //console.log(data['globals'][1]['searchtext']);
            var pixels = data['pixels'];
            for (var i=0;i<16;i++) {
                strip[i].clear();
                for (var j=0;j<6;j++) {
                    var idx = i*6+j;
                    strip[i].buffer[j] = pixels[idx].slice(0,3);
                }
                strip[i].send();
            }
            $(document).find("[name=search]").val(data['globals'][1]['searchtext']);
        },
        error: function() {
            console.log("There was an error retrieving data for moodcloud.");
        }
      });
    }

    $(document).ready(function(){
      $('.ledstrip').each(function(index, value) {
        strip[index] = LEDstrip(value, 6, "vertical");
      });

      executeQuery();
      setInterval(executeQuery, 16000);

    });
    </script>
    <title>MoodCloud</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>moodcloud</h1>
          <h4>Audio Visual Sentiment Art Installation</h4>
        </header>

        <div id="content">
            <form class="search-form" action="http://whooly.cloudapp.net/Home/MoodCloudSearchResult" method="post">
              <span>
                <input id="search" name="search" type="text" value="">    
                <input type="submit" value="Search">
              </span>
            </form>

          <div class="LEDBox ui-widget ui-helper-reset">
            <div class="simulation ui-widget-content ui-helper-reset">
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
              <div class="ledstrip"></div>
            </div>
          </div>
        </div>

        <footer>
          <a href="https://github.com/irjudson/moodcloud">MoodCloud</a> is maintained by <a href="http://www.wesense.co/">Melissa Quintanilha</a>, <a href="http://www.irjudson.org/">Ivan R. Judson</a>, Jaime Teevan, and Shelly Farnham.
        </footer>
      </div>
    </div>
  </body>
</html>